*{
    box-sizing: border-box;
}

body{
    background-image: url(https://images.unsplash.com/photo-1532190761747-215949f288d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyayUyMGJsdXJ8ZW58MHx8MHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.inner-div , .inner-div-login{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
}

.registration-form , .login-form{
    width: 60%;
}

.heading{
    text-align: center;
    margin-bottom: 10px;
}

.btn{
    float: right;
    padding: 4px 25px;
}

form input:focus{
    box-shadow: none !important;
    outline: none !important;
    border: 0.5px solid rgb(42, 41, 41) !important;
}

.btn{
    box-shadow: none !important;
    outline: none !important;
    background-color: black;
}

.jumbotron{
    position: absolute;
    align-items: center;
    justify-items: center;
   top: 50%;
   left: 50%; 
   transform: translateX(-50%) translateY(-50%);
}


.footer{
    margin-top: auto;
    background-color: rgb(23, 23, 23);
}

.sign-up{
    display: none;
    /* display: block; */
}

.log-in .form-text{
    color: rgb(193, 193, 193);
}

.log-in{
    display: none;
    /* display: block; */
}

a:link{
    text-decoration: none;
}

.password-icon{
    display: inline-block;
}

.userName{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: xx-large;
}
.Pushpa-Leela-Kumari{
    font-size: 20px;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.545);
    background-size: 100%;
    
}